# Copy to terraform.tfvars if you use non-default PVC capacities or kubeconfig path.
kubeconfig_path   = "~/.kube/config-hcl-public-netflow"
namespace         = "bioinformatics"
workdir_size_gb   = 200
reference_size_gb = 50
